<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Liste des employés</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/list.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="logo-social.png" alt="" width="30" height="30" class="d-inline-block align-top">
      Harmony Haven
    </a>
    <ul class="navbar-nav ml-auto">>
      <li class="nav-item">
        <a class="nav-link" href="/">Liste des employés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Ajouter un employé</a>
      </li>
      <li class="navbar-nav text-end">
        <a class="nav-item nav-link" th:href="@{/logout}">Deconnexion</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Liste des employés</h2>
  <form action="/" method="get">
    <div class="form-row">
      <div class="col">
        <label>Nom :</label>
        <input type="text" class="form-control" name="firstName" placeholder="Nom">
      </div>
      <div class="col">
        <label>Prénom :</label>
        <input type="text" class="form-control" name="lastName" placeholder="Prénom">
      </div>
      <div class="col">
        <label>Genre :</label>
        <select class="form-control" name="gender">
          <option value="">-- Sélectionner --</option>
          <option value="Masculin">Masculin</option>
          <option value="Féminin">Féminin</option>
          <option value="Autre">Autre</option>
        </select>
      </div>
      <div class="col">
        <label>Poste :</label>
        <input type="text" class="form-control" name="jobFunction" placeholder="Poste">
      </div>
      <div class="col">
        <label>Date d'embauche :</label>
        <input type="date" class="form-control" name="hiringDate" placeholder="Date d'embauche (JJ-MM-AAAA)">
      </div>
      <div class="col">
        <label>Date de départ :</label>
        <input type="date" class="form-control" name="departureDate" placeholder="Date de départ (JJ-MM-AAAA)">
      </div>
      <div class="col">
        <button class="btn btn-primary" type="submit">Rechercher</button>
      </div>
    </div>
  </form>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Numéro d'employé</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Genre</th>
        <th>Adresse</th>
        <th>Tel</th>
        <th>Email personnel</th>
        <th>Email professionnel</th>
        <th>Numéro de CIN</th>
        <th>Date de délivrance du CIN</th>
        <th>Lieu de délivrance du CIN</th>
        <th>Fonction</th>
        <th>Nombre d'enfants</th>
        <th>Date d'embauche</th>
        <th>Date de départ</th>
        <th>Catégorie socio-professionnelle</th>
        <th>Numéro CNAPS</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeNumber}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${#temporals.format(employee.birthdate, 'dd/MM/yyyy')}"></td>
        <td th:text="${employee.gender}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.personalEmail}"></td>
        <td th:text="${employee.workEmail}"></td>
        <td th:text="${employee.cinNumber}"></td>
        <td th:text="${#temporals.format(employee.cinDeliveryDate, 'dd/MM/yyyy')}"></td>
        <td th:text="${employee.cinDeliveryPlace}"></td>
        <td th:text="${employee.jobFunction}"></td>
        <td th:text="${employee.numberOfChildren}"></td>
        <td th:text="${#temporals.format(employee.hiringDate, 'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(employee.departureDate, 'dd/MM/yyyy')}"></td>
        <td th:text="${employee.socioProfessionalCategory}"></td>
        <td th:text="${employee.cnapsNumber}"></td>
        <td>
          <a th:href="@{/employee/{id}(id=${employee.id})}" class="btn btn-info btn-sm">Voir</a>
          <a th:href="@{/employee/{id}/edit(id=${employee.id})}" class="btn btn-warning btn-sm">Modifier</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="form-row mt-2">
    <div class="col">
      <label for="sortByAsc">Trier par ordre croissant :</label>
      <select id="sortByAsc" class="form-control" onchange="window.location.href=this.value;">
        <option value="">-- Sélectionner --</option>
        <option th:value="@{/(sort='firstName,asc')}" class="btn btn-secondary btn-sm">Prénom</option>
        <option th:value="@{/(sort='lastName,asc')}" class="btn btn-secondary btn-sm">Nom</option>
        <option th:value="@{/(sort='gender,asc')}" class="btn btn-secondary btn-sm">Genre</option>
        <option th:value="@{/(sort='jobFunction,asc')}" class="btn btn-secondary btn-sm">Fonction</option>
        <option th:value="@{/(sort='hiringDate,asc')}" class="btn btn-secondary btn-sm">Date d'embauche</option>
        <option th:value="@{/(sort='departureDate,asc')}" class="btn btn-secondary btn-sm">Date de départ</option>
      </select>
    </div>

    <div class="col">
      <label for="sortByDesc">Trier par ordre décroissant :</label>
      <select id="sortByDesc" class="form-control" onchange="window.location.href=this.value;">
        <option value="">-- Sélectionner --</option>
        <option th:value="@{/(sort='firstName,desc')}" class="btn btn-secondary btn-sm">Prénom</option>
        <option th:value="@{/(sort='lastName,desc')}" class="btn btn-secondary btn-sm">Nom</option>
        <option th:value="@{/(sort='gender,desc')}" class="btn btn-secondary btn-sm">Genre</option>
        <option th:value="@{/(sort='jobFunction,desc')}" class="btn btn-secondary btn-sm">Fonction</option>
        <option th:value="@{/(sort='hiringDate,desc')}" class="btn btn-secondary btn-sm">Date d'embauche</option>
        <option th:value="@{/(sort='departureDate,desc')}" class="btn btn-secondary btn-sm">Date de départ</option>
      </select>
    </div>

  </div>

    <br>
  <a href="/add" class="btn btn-primary btn-danger">Ajouter un employé</a>
  <a th:href="@{download-employees-csv(firstName=${param.firstName}, lastName=${param.lastName}, gender=${param.gender}, jobFunction=${param.jobFunction}, hiringDateFrom=${param.hiringDateFrom}, hiringDateTo=${param.hiringDateTo}, departureDateFrom=${param.departureDateFrom}, departureDateTo=${param.departureDateTo})}" class="btn btn-primary btn-danger">Télécharger</a>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>